[flake8]
# Игнорируем ошибки отсутствия docstring (D100, D101 и т.д.)
# E501 — игнорируем длину строк
# W503 — игнорируем перенос строки перед оператором
ignore = D100, D101, D102, D103, D104, D105, D106, D107, E501, W503
# Исключаем папки, которые не нужно проверять
exclude =
    tests/,
    */migrations/,
    venv/,
    env/